body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    padding: 20px;
}

.market-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
}

.left-section {
    max-width: 50%;
}

.left-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.left-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.option-item:hover {
    transform: translateY(-5px);
}

.option-item span {
    font-size: 18px;
    color: #333;
}

.right-section {
    max-width: 45%;
}

span {
    background-color: transparent;
    width: 400px;

}

.mobile-screen {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    /* Optional: add rounded corners to the image */
}

/* Responsive styling for phones */
@media only screen and (max-width: 768px) {
    .market-container {
        flex-direction: column;
        /* Stack the sections vertically */
        padding: 20px;
        /* Reduce padding */
    }

    .left-section {
        max-width: 100%;
        text-align: center;
        /* Center the text for smaller screens */
    }

    .left-section h1 {
        font-size: 28px;
    }

    .left-section p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .options {
        align-items: center;
        /* Center the options */
    }

    .right-section {
        max-width: 100%;
        margin-top: 20px;
    }

    .mobile-screen {
        max-width: 90%;
        margin: 0 auto;
        /* Center the image horizontally */
    }
}