.Ques {
    background-color: rgb(1, 8, 9);
    color: #fffefe;
    /* Darker text color for contrast */
    font-size: 1.2rem;
    
    /* Slightly larger text for emphasis */
    font-weight: 600;
    /* Bold text for prominence */
    padding: 10px 15px;
    /* Adding padding for space around the text */
    border-radius: 8px;
    /* Rounded corners for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    margin-bottom: 10px;
    /* Space between accordions */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

.Ques:hover {
    background-color: #4f4d4d;
    /* Light gray background on hover */
}